log/
logs/

cache/
vendor/

node_modules/
bower_components/
screenshots/
www/static/

phpunit.phar
composer.phar
composer.lock

Thumbs.db

.DS_Store
.idea
.sass-cache
.tm_properties
.vagrant
.node-version

*.sublime-*